.container {
  margin: 0 auto;
  text-align: center;
}
body {
  background-image: url("../public/bg.jpg");
}
.card {
  margin: 350px auto;
  border-radius: 20px;
  text-align: center;
  background-color: blanchedalmond;
  width: 50%;
  height: 200px;
}
.cardBody {
  margin-top: 10px;

  padding: 20px;
}
.cardBody .btn {
  margin-top: 20px;
  border-style: none;
  color: white;
  background: rgb(19, 56, 93);
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
}
